---
import SimpleCompo01 from "@components/test-01/simple-compo-01.astro"
// import SimpleCompo01 from "./simple-compo-01.astro"
---
<div>
    <!-- This is a Comment -->
    <SimpleCompo01 classes="px-2 py-4" />
</div>